NEXT_PUBLIC_SUPABASE_URL = https://lwcqnonkflpsdhekslmy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3Y3Fub25rZmxwc2RoZWtzbG15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzOTg5NzYsImV4cCI6MjA4Nzk3NDk3Nn0.EJkJNxM9FY4foRdYpBm5dyPIDZTtyfDrgPof4urVgbg